<?php /** @var $this View */ if ( !defined( 'BASE_PATH' ) ) die( 'Forbidden' ); ?>
            <div id="footer">
                <ul class="inline">
                    <li>
                        <img src="//ajmm.org/wp-includes/images/favicon/bitbucket.png" alt="" />
                        <small><a href="https://bitbucket.org/andrewmackrodt/itunesfeedfinder" target="_blank">Fork me</a> on Bitbucket</small>
                    </li>
                    <li><small>&copy; <a href="http://ajmm.org/">Andrew Mackrodt</a> <?= date( 'Y' ); ?>.</small></li>
                </ul>
            </div>
        </div>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js"></script>
    </body>
</html>