<?php /** @var $this View */ if ( !defined( 'BASE_PATH' ) ) die( 'Forbidden' ); ?>
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title><?= $this->title; ?></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="author" content="Andrew Mackrodt <andrew@ajmm.org>" />
        <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet" />
        <style>
            #wrapper { float: none; margin: 0 auto; }
            #footer { text-align: center; }
        </style>
    </head>
    <body>
        <div id="wrapper" class="span8">