<?php /** @var $this View */ if ( !defined( 'BASE_PATH' ) ) die( 'Forbidden' ); ?>
<h1>iTunes Podcast Feed Finder</h1>
<?= $this->form; ?>
<? if ( $this->feed !== null ): ?>
    <? if ( $this->feed ): ?>
        <div class="alert alert-success">
            <strong>Feed found!</strong> <a href="<?= $this->feed; ?>" target="_blank"><?= $this->feed; ?></a>
        </div>
    <? else: ?>
        <div class="alert alert-info">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Unable to find feed</strong>
        </div>
    <? endif; ?>
<? endif; ?>
<fieldset>
    <legend>Usage</legend>
    <p>Enter the iTunes feed id in one of the following formats:</p>
    <ul>
        <li>https://itunes.apple.com/gb/podcast/guardian-audio-edition/id587347784</li>
        <li>587347784</li>
    </ul>
</fieldset>